@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;

}
body{
    width: 100%;
    height: fit-content;
    
}
